
PC Software/.DS_Store
PC Software/C\#/.DS_Store
PC Software/C\#/SerialRelayControl/.DS_Store
PC Software/C\#/SerialRelayControl/RelayControl/.DS_Store
PC Software/C\#/SerialRelayControl/SerialRelayControl/.DS_Store
PC Software/C\#/SerialRelayControl/.vs/SerialRelayControl/v16/TestStore/0/testlog.manifest
PC Software/C\#/SerialRelayControl/.vs/SerialRelayControl/v16/TestStore/0/000.testlog
PC Software/C\#/SerialRelayControl/.vs/SerialRelayControl/v16/.suo
